POSTGRES_DB=vsrala
POSTGRES_USER=vsrala
POSTGRES_PASSWORD=vsrala
POSTGRES_HOST=database
POSTGRES_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

ALLOWED_HOSTS=localhost,127.0.0.1,backend,nginx
