body {
    min-height: 100%;
}

.navbar-brand {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.navbar-logo {
    height: 28px;
    width: auto;
    display: block;
}

.login-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
}